<div class="all-news__item">
    <div class="all-news__img-wrapper">
        <img src="{{ asset('/uploads/post_images/' ~ post.imageUrl) }}" style="width: 250px;" />
        {#<img src="{{ asset('/uploads/post_images/' ~ post.imageUrl) }}" />#}
        {#todo liip_imagine filter#}
    </div>
    <div class="all-news__content">
        <div class="all-news__title">
            <a href="{{ path('blog_post_show', { id: post.id }) }}" class="all-news__title-link">{{ post.title }}</a>
        </div>
        <div class="all-news__decs">
            {{ post.shortDescription }}
        </div>
        <div class="all-news__link-wrapper">
            <a href="{{ path('blog_post_show', {id:post.id}) }}" class="all-news__link">Продолжение</a>
        </div>
    </div>
</div>