<div class="content-right">
    {% macro declension(number, forms) %}
        {% set cases = [2, 0, 1, 1, 1, 2] %}
        {{ forms[ ( number%100>4 and number%100<20)? 2 : cases[(number%10<5)?number%10:5] ] }}
    {% endmacro %}
    {% import _self as utils %}
    {% set statistic = getCurrentSeasonStatistic() %}
    <section class="leaders" style="display: block;">
        <div class="leaders__title">
            Лидеры
            <div class="leaders__select">
                <select name="" id="" class="select js-change-top-list">
                    {% for item in statistic %}
                        <option data-list="#list_{{ item.bests.league.id }}" value="{{ item.bests.league.id }}" class="">{{ item.bests.league.metadata.title }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        {% set k = 0 %}
        {% for item in statistic %}
            {% set best = item.bests %}
        <div id="list_{{ item.bests.league.id }}" class="leaders__list" style="{{ k == 0 ? '' : 'display:none' }}">
            {% if best.bestForward %}
                {% include 'blocks/leaders-item.twig' with {item: {points: best.bestForward.forwardScore, name: utils.declension(best.bestForward.forwardScore, ['Очко','Очка', 'Очков']), role: 'Бомбардир'}, member: best.bestForward.member } %}
            {% endif %}
            {% if best.bestSniper %}
                {% include 'blocks/leaders-item.twig' with {item: {points: best.bestSniper.goals, name: utils.declension(best.bestSniper.goals, ['Гол','Гола', 'Голов']), role: 'Снайпер'}, member: best.bestSniper.member} %}
            {% endif %}
            {% if best.bestAssistant %}
                {% include 'blocks/leaders-item.twig' with {item: {points: best.bestAssistant.assistantGoals, name: utils.declension(best.bestAssistant.assistantGoals, ['Пас','Паса', 'Пасов']), role: 'Ассистент'}, member: best.bestAssistant.member} %}
            {% endif %}
            {% if best.bestBack %}
                {% include 'blocks/leaders-item.twig' with {item: {points: best.bestBack.forwardScore, name: utils.declension(best.bestBack.forwardScore, ['Очко','Очка', 'Очков']), role: 'Защитник'}, member: best.bestBack.member} %}
            {% endif %}
            {% if best.bestGoalkeeper %}
                {% include 'blocks/leaders-item.twig' with {item: {points: best.bestGoalkeeper.reliabilityCoef, name: utils.declension(best.bestGoalkeeper.reliabilityCoef, ['КН','КН', 'КН']), role: 'Вратарь'}, member: best.bestGoalkeeper.member} %}
            {% endif %}
        </div>
            {% set k = 1 %}
        {% endfor %}
      {#  <div class="leaders__link">
            <a href="#">Вся статистика</a>
        </div>#}
    </section>
    <section class="sidebar-table">
        <div class="sidebar-table__title">Таблица</div>
        <div class="sidebar-table__list">
            {% for item in statistic %}
                {% include 'blocks/sidebar-item-table.twig' with {league: item.league, teams: item.seasonteams} %}
            {% endfor %}
        </div>
        <div class="sidebar-table__link">
            <a href="{{ url('standings.current') }}">Вся статистика</a>
        </div>
    </section>
</div>
