<div class="sidebar-table__item">
    <div class="sidebar-table__header">{{ item.header }}</div>
    <table class="table table--sidebar">
        <tr>
            <th>№</th>
            <th>Команда</th>
            <th>И</th>
            <th>В</th>
            <th>О</th>
        </tr>
        <tr>
            <td>1</td>
            <td><a href="#">{{ item.team1 }}</a></td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <td>2</td>
            <td><a href="#">{{ item.team2 }}</a></td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <td>3</td>
            <td><a href="#">{{ item.team3 }}</a></td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <td>4</td>
            <td><a href="#">{{ item.team4 }}</a></td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
    </table>
</div>