<div class="sidebar-table__item">
    <div class="sidebar-table__header">{{ league.metadata.title }}</div>
    <table class="table table--sidebar">
        <tr>
            <th>№</th>
            <th>Команда</th>
            <th>И</th>
            <th>В</th>
            <th>О</th>
        </tr>
        {% for num,stat in teams %}
        <tr>
            <td class="{{ num < league.metadata.playOffPlaces ? 'table-playoff' : '' }}">{{ num + 1 }}</td>
            <td><img width="30" height="30" class="sidebar-table__img" src="/avatar/{{ stat.seasonteam.team.metadata.image }}"> <a class="sidebar-table__team-link" href="{{ url('team.index', {id: stat.seasonteam.team.id}) }}">{{ stat.seasonteam.team.metadata.title }}</a></td>
            <td>{{ stat.gamesCount }}</td>
            <td>{{ stat.winInMain }}</td>
            <td>{{ stat.scores }}</td>
        </tr>
        {% endfor %}
    </table>

    {#<table class="table table--sidebar table--playoff">
        <tr>
            <th style="width: 120px;">Команда</th>
            <th style="width: 40px;">И1</th>
            <th style="width: 40px;">И2</th>
            <th style="width: 40px;">И3</th>
            <th>СС</th>
        </tr>
        <tr>
            <td colspan="5">
                <div class="table__row">
                    <div class="table__cell table__cell--wide">
                        Молния<br>
                        Железобетон-2
                    </div>
                    <div class="table__cell">
                        3:0
                    </div>
                    <div class="table__cell">
                        4:10
                    </div>
                    <div class="table__cell">
                        -
                    </div>
                    <div class="table__cell">
                        2:0
                    </div>
                </div>
            </td>
        </tr>
    </table>#}
</div>