{% extends 'ControlBundle::layout.html.twig' %}

{% block body %}
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                </tr>
            </thead>
            <tbody>
                {% for player in players %}
                    <tr>
                        <td>{{ player.metadata.surname }}</td>
                        <td>{{ player.metadata.firstName }}</td>
                        <td>{{ player.metadata.secondName }}</td>
                        <td><a target="_blank" href="{{ url('profile.index', {id: player.id}) }}">Профиль</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {{ include('@Control/pagination.html.twig', {pageCount: pagesCount, currentPage: currentPage, url: '?page='}) }}
    </div>

{% endblock %}
