{% extends 'layouts/default.twig' %}

{% block content %}
    <section class="game wrapper">
        <div class="game__title">{{ game.place }}</div>
        <div class="game__info">
            <div class="game__date-wrapper">
                <div class="game__date">{{ game.datetime|localizeddate('none', 'none', 'ru_RU', null, "d MMMM Y HH:mm") }}</div>
                <div class="game__playoff {{ {final: 'game__playoff--final', playoff: 'game__playoff', regular: 'game__playoff'}[game.type.__toString] }}">{{ {final: 'Финал', playoff: 'Плей-офф', regular: 'Регулярный чемпионат'}[game.type.__toString] }}</div>
            </div>
            <div class="game__content">
                <div class="game__team game__team--hosts">
                    <div class="game__team-info">
                        <div class="game__team-img">
                            <img src="{{ asset('/avatar/' ~ game.seasonTeamA.team.metadata.image)}}" alt="">
                        </div>
                        <a href="{{ url('team.index', {id: game.seasonteamA.team.id}) }}" class="game__team-name">{{ game.seasonTeamA.team.metadata.title }}</a>
                    </div>
                    <div class="game__points">{{ game|scoreA }}</div>
                </div>
                <div class="game__team game__team--guests">
                    <div class="game__team-info">
                        <div class="game__team-img">
                            <img src="{{ asset('/avatar/' ~ game.seasonTeamB.team.metadata.image)}}" alt="">
                        </div>
                        <a href="{{ url('team.index', {id: game.seasonteamB.team.id}) }}" class="game__team-name">{{ game.seasonTeamB.team.metadata.title }}</a>
                    </div>
                    <div class="game__points game__points--dots">{{  game|scoreB }}</div>
                </div>
            </div>
        </div>
        <div class="game__statistics">
            {% set periods = {1: '1-й период', 2: '2-й период', 3: '3-й период', 4: 'Овертайм', 5: 'Броски'} %}
            {% for num, period in periods %}
            {% if eventsByPeriod[num] is not empty %}
            <div class="game__period">
                <div class="game__period-header">{{ periods[num]  }}</div>
                <div class="game__table">
                    <div class="game__table-header">Голы</div>
                    {% for event in eventsByPeriod[num] %}
                        {% if event.type == 'goal' %}
                            <div class="game__table-row">
                                {% if game.seasonTeamB.id == event.member.seasonTeam.id %}
                                    <div class="game__table-cell"></div>
                                {% endif %}
                                <div class="game__table-cell">
                                    <div class="game__table-time">{{ event.secondsFromStart|eventPeriod }}</div>
                                    <div class="game__table-score">{{ scoreMap[event.id] }}</div>
                                    <div class="game__table-players">
                                        <a href="#" class="game__table-link">{{ event.member.player.metadata.playerName }}</a>
                                        {% if event.assistantA %}
                                            <a href="#" class="game__table-link game__table-link--assist">{{ event.assistantA.player.metadata.playerName }}</a>
                                        {% endif %}
                                        {% if event.assistantB %}
                                            <a href="#" class="game__table-link game__table-link--assist">{{ event.assistantB.player.metadata.playerName }}</a>
                                        {% endif %}
                                    </div>
                                </div>
                                {% if game.seasonTeamA.id == event.member.seasonTeam.id %}
                                <div class="game__table-cell"></div>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="game__table">
                    <div class="game__table-header">Удаления</div>
                    {% for event in eventsByPeriod[num] %}
                        {% if event.type == 'penalty'%}
                            <div class="game__table-row">
                                {% if game.seasonTeamB.id == event.member.seasonTeam.id %}
                                    <div class="game__table-cell"></div>
                                {% endif %}
                                <div class="game__table-cell">
                                    <div class="game__table-time">{{ event.secondsFromStart|eventPeriod }}</div>
                                    <div class="game__table-score game__table-score--foul">{{ event.penaltyTimeType|penaltyPeriod }}</div>
                                    <div class="game__table-players">
                                        <a href="#" class="game__table-link">{{ event.member.player.metadata.playerName }}</a>
                                    </div>
                                </div>
                                {% if game.seasonTeamA.id == event.member.seasonTeam.id %}
                                    <div class="game__table-cell"></div>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% endfor %}
            <div class="game__summary">
                <div class="game__summary-header">Общая статистика</div>
                <table class="table table--summary">
                    <tr>
                        <th>Броски {{ game.seasonTeamA.team.metadata.title }}</th>
                        <th>Броски {{ game.seasonTeamB.team.metadata.title }}</th>
                        <th>Удаления {{ game.seasonTeamA.team.metadata.title }}</th>
                        <th>Удаления {{ game.seasonTeamB.team.metadata.title }}</th>
                    </tr>
                    <tr class="table-total">
                        <td>{{ game.state == 1 ? statistic.teamABullets : '-'}}</td>
                        <td>{{ game.state == 1 ? statistic.teamBBullets : '-'}}</td>
                        <td>{{ game.state == 1 ? statistic.teamAPenaltyTime : '-'}}</td>
                        <td>{{ game.state == 1 ? statistic.teamBPenaltyTime : '-'}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
{% endblock %}