{% extends 'layouts/default.twig' %}

{% block content %}
    <section class="game wrapper">
        <div class="game__title">{{ game.place }}</div>
        <div class="game__info">
            <div class="game__date-wrapper">
                <div class="game__date">{{ game.datetime|gameDatetime }}</div>
                <div class="game__playoff {{ {final: 'game__playoff--final', playoff: 'game__playoff', regular: 'game__playoff'}[game.type.__toString] }}">{{ {final: 'Финал', playoff: 'Плей-офф', regular: 'Регулярный чемпионат'}[game.type.__toString] }}</div>
            </div>
            <div class="game__content">
                <div class="game__team game__team--hosts">
                    <div class="game__team-info">
                        <div class="game__team-img">
                            <img src="{{ asset('/avatar/' ~ game.seasonTeamA.team.metadata.image)}}" alt="">
                        </div>
                        <a href="#" class="game__team-name">{{ game.seasonTeamA.team.metadata.title }}</a>
                        <div class="game__team-city">Саранск</div>
                    </div>
                    <div class="game__points">0</div>
                </div>
                <div class="game__team game__team--guests">
                    <div class="game__team-info">
                        <div class="game__team-img">
                            <img src="{{ asset('/avatar/' ~ game.seasonTeamB.team.metadata.image)}}" alt="">
                        </div>
                        <a href="#" class="game__team-name">{{ game.seasonTeamB.team.metadata.title }}</a>
                        <div class="game__team-city">Саранск</div>
                    </div>
                    <div class="game__points game__points--dots">0</div>
                </div>
            </div>
        </div>
        <div class="game__statistics">
            <div class="game__period">
                <div class="game__period-header">1-й период</div>
                <div class="game__table">
                    <div class="game__table-header">Голы</div>
                    <div class="game__table-row">
                        <div class="game__table-cell">
                            <div class="game__table-time">02:13</div>
                            <div class="game__table-score">1:0</div>
                            <div class="game__table-players">
                                <a href="#" class="game__table-link">#15 Исаев Семён</a>
                                <a href="#" class="game__table-link game__table-link--assist">#42 Карманов Булат</a>
                            </div>
                        </div>
                        <div class="game__table-cell"></div>
                    </div>
                    <div class="game__table-row">
                        <div class="game__table-cell">
                            <div class="game__table-time">02:13</div>
                            <div class="game__table-score">2:0</div>
                            <div class="game__table-players">
                                <a href="#" class="game__table-link">#15 Исаев Семён</a>
                                <a href="#" class="game__table-link game__table-link--assist">#42 Карманов Булат</a>
                            </div>
                        </div>
                        <div class="game__table-cell"></div>
                    </div>
                    <div class="game__table-row">
                        <div class="game__table-cell"></div>
                        <div class="game__table-cell">
                            <div class="game__table-time">02:13</div>
                            <div class="game__table-score">2:1</div>
                            <div class="game__table-players">
                                <a href="#" class="game__table-link">#15 Исаев Семён</a>
                                <a href="#" class="game__table-link game__table-link--assist">#42 Карманов Булат</a>
                            </div>
                        </div>
                    </div>
                    <div class="game__table-row">
                        <div class="game__table-cell"></div>
                        <div class="game__table-cell">
                            <div class="game__table-time">02:13</div>
                            <div class="game__table-score">2:2</div>
                            <div class="game__table-players">
                                <a href="#" class="game__table-link">#15 Исаев Семён</a>
                                <a href="#" class="game__table-link game__table-link--assist">#42 Карманов Булат</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="game__table">
                    <div class="game__table-header">Удаления</div>
                    <div class="game__table-row">
                        <div class="game__table-cell"></div>
                        <div class="game__table-cell">
                            <div class="game__table-time">02:13</div>
                            <div class="game__table-score game__table-score--foul">2 мин</div>
                            <div class="game__table-players">
                                <a href="#" class="game__table-link">#15 Исаев Семён</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="game__period">
                <div class="game__period-header">2-й период</div>
                <div class="game__table">
                    <div class="game__table-header">Голы</div>
                    <div class="game__table-row">
                        <div class="game__table-cell">
                            <div class="game__table-time">02:13</div>
                            <div class="game__table-score">1:0</div>
                            <div class="game__table-players">
                                <a href="#" class="game__table-link">#15 Исаев Семён</a>
                                <a href="#" class="game__table-link game__table-link--assist">#42 Карманов Булат</a>
                            </div>
                        </div>
                        <div class="game__table-cell"></div>
                    </div>
                    <div class="game__table-row">
                        <div class="game__table-cell">
                            <div class="game__table-time">02:13</div>
                            <div class="game__table-score">2:0</div>
                            <div class="game__table-players">
                                <a href="#" class="game__table-link">#15 Исаев Семён</a>
                                <a href="#" class="game__table-link game__table-link--assist">#42 Карманов Булат</a>
                            </div>
                        </div>
                        <div class="game__table-cell"></div>
                    </div>
                    <div class="game__table-row">
                        <div class="game__table-cell"></div>
                        <div class="game__table-cell">
                            <div class="game__table-time">02:13</div>
                            <div class="game__table-score">2:1</div>
                            <div class="game__table-players">
                                <a href="#" class="game__table-link">#15 Исаев Семён</a>
                                <a href="#" class="game__table-link game__table-link--assist">#42 Карманов Булат</a>
                            </div>
                        </div>
                    </div>
                    <div class="game__table-row">
                        <div class="game__table-cell"></div>
                        <div class="game__table-cell">
                            <div class="game__table-time">02:13</div>
                            <div class="game__table-score">2:2</div>
                            <div class="game__table-players">
                                <a href="#" class="game__table-link">#15 Исаев Семён</a>
                                <a href="#" class="game__table-link game__table-link--assist">#42 Карманов Булат</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="game__table">
                    <div class="game__table-header">Удаления</div>
                    <div class="game__table-row">
                        <div class="game__table-cell"></div>
                        <div class="game__table-cell">
                            <div class="game__table-time">02:13</div>
                            <div class="game__table-score game__table-score--foul">2 мин</div>
                            <div class="game__table-players">
                                <a href="#" class="game__table-link">#15 Исаев Семён</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="game__period">
                <div class="game__period-header">3-й период</div>
                <div class="game__table">
                    <div class="game__table-header">Голы</div>
                    <div class="game__table-row">
                        <div class="game__table-cell">
                            <div class="game__table-time">02:13</div>
                            <div class="game__table-score">1:0</div>
                            <div class="game__table-players">
                                <a href="#" class="game__table-link">#15 Исаев Семён</a>
                                <a href="#" class="game__table-link game__table-link--assist">#42 Карманов Булат</a>
                            </div>
                        </div>
                        <div class="game__table-cell"></div>
                    </div>
                    <div class="game__table-row">
                        <div class="game__table-cell">
                            <div class="game__table-time">02:13</div>
                            <div class="game__table-score">2:0</div>
                            <div class="game__table-players">
                                <a href="#" class="game__table-link">#15 Исаев Семён</a>
                                <a href="#" class="game__table-link game__table-link--assist">#42 Карманов Булат</a>
                            </div>
                        </div>
                        <div class="game__table-cell"></div>
                    </div>
                    <div class="game__table-row">
                        <div class="game__table-cell"></div>
                        <div class="game__table-cell">
                            <div class="game__table-time">02:13</div>
                            <div class="game__table-score">2:1</div>
                            <div class="game__table-players">
                                <a href="#" class="game__table-link">#15 Исаев Семён</a>
                                <a href="#" class="game__table-link game__table-link--assist">#42 Карманов Булат</a>
                            </div>
                        </div>
                    </div>
                    <div class="game__table-row">
                        <div class="game__table-cell"></div>
                        <div class="game__table-cell">
                            <div class="game__table-time">02:13</div>
                            <div class="game__table-score">2:2</div>
                            <div class="game__table-players">
                                <a href="#" class="game__table-link">#15 Исаев Семён</a>
                                <a href="#" class="game__table-link game__table-link--assist">#42 Карманов Булат</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="game__table">
                    <div class="game__table-header">Удаления</div>
                    <div class="game__table-row">
                        <div class="game__table-cell"></div>
                        <div class="game__table-cell">
                            <div class="game__table-time">02:13</div>
                            <div class="game__table-score game__table-score--foul">2 мин</div>
                            <div class="game__table-players">
                                <a href="#" class="game__table-link">#15 Исаев Семён</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="game__summary">
                <div class="game__summary-header">Общая статистика</div>
                <table class="table table--summary">
                    <tr>
                        <th>Период</th>
                        <th>Броски СибКом</th>
                        <th>Броски Торпедо</th>
                        <th>Удаления СибКом</th>
                        <th>Удаления Торпедо</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>2</td>
                        <td>2</td>
                        <td>2</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>3</td>
                        <td>3</td>
                        <td>3</td>
                        <td>3</td>
                    </tr>
                    <tr class="table-total">
                        <td>Итого</td>
                        <td>44</td>
                        <td>44</td>
                        <td>44</td>
                        <td>44</td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
{% endblock %}