{% extends 'layouts/default.twig' %}

{% block content %}
    <section class="news wrapper">
        <div class="news__title">
            Новости
            <a href="{{ url('blog_index')}}" class="news__title-link">Все новости</a>
        </div>
        <div class="news__list">
            {% for post in posts %}
                {% include 'blocks/news-item.twig' with {post: post} %}
            {% endfor %}
        </div>
    </section>
    {% if albums is defined %}
        <section class="media wrapper">
            <div class="media__title">
                Медиа
                <a href="{{ url('media.index') }}" class="media__title-link">Все материалы</a>
            </div>
            <div class="media__list">
                {% for album in albums %}
                    {% include 'blocks/media-item.twig' with {album: album} %}
                {% endfor %}
            </div>
        </section>
    {% endif %}
    <section class="partners wrapper">
        <div class="partners__title">Наши партнеры</div>
        <div class="partners__wrapper">
            <ul class="partners__list">
                <li class="partners__item">
                    <a href="https://vk.com/mir_hockeya_58" target="_blank">
                        <img src="{{ asset('assets/img/partners/mir.png') }}" alt="">
                    </a>
                </li>
                <li class="partners__item">
                    <a href="https://vk.com/hockey_centr_penza" target="_blank">
                        <img src="{{ asset('assets/img/partners/tren.png') }}" alt="">
                    </a>
                </li>
                <li class="partners__item">
                    <a href="https://vk.com/custom_mh" target="_blank">
                        <img src="{{ asset('assets/img/partners/master.png') }}" alt="">
                    </a>
                </li>
                <li class="partners__item">
                    <a href="#" target="_blank">
                        <img src="{{ asset('assets/img/partners/firs.jpg') }}" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </section>
{% endblock %}