{% extends 'layouts/default.twig' %}

{% block content %}
    <section class="signin page wrapper">
        <h1 class="title">Восстановление пароля</h1>
        <form action="{{ path("fos_user_security_check") }}" method="post" class="signin__form">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}
            <div class="signin__item">
                <label for="email" class="label">Ваш e-mail</label>
                <input id="email" type="email" name="_username" class="input {{ error ? 'input--error' : '' }}" placeholder="example@gmail.com" value="{{ last_username }}" required>
                {% if error %}
                    <div class="form-message form-message--error">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}
            </div>
            <div class="signin__button">
                <button class="btn btn--action">Прислать пароль</button>
            </div>
        </form>
    </section>
{% endblock %}