{% extends 'layouts/default.twig' %}

{% block content %}
    <section class="profile wrapper page">
        <div class="profile__info">
            {% if profile %}
            <div class="profile__img-wrapper">
                <img src="{{ asset('avatar/' ~ profile.image) }}" alt="" class="profile__img">
            </div>
            <div class="profile__content">
                <div class="profile__name">
                    {{ profile.fullName }}
                    <div class="profile__buttons">
                        {% if isCurrentPlayer %}
                            <a href="{{ path('profile.player.edit') }}" class="profile__settings">Редактировать</a>
                            <a href="{{ path('fos_user_security_logout') }}" class="profile__logout">Выход</a>
                        {% endif %}
                    </div>
                </div>
                <div class="profile__list">
                    <div class="profile__item">
                        <div class="profile__type">Дата рождения:</div>
                        <div class="profile__value">{{ profile.birthdate ? profile.birthdate|date('d.m.Y') : '' }}</div>
                    </div>
                    <div class="profile__item">
                        <div class="profile__type">Позиция:</div>
                        <div class="profile__value">{{ profile.position|position }}</div>
                    </div>
                    <div class="profile__item">
                        <div class="profile__type">Хват:</div>
                        <div class="profile__value">{{ profile.stick|stick }}</div>
                    </div>
                    <div class="profile__item">
                        <div class="profile__type">Рост (см.):</div>
                        <div class="profile__value">{{ profile.height }}</div>
                    </div>
                    <div class="profile__item">
                        <div class="profile__type">Вес (кг.):</div>
                        <div class="profile__value">{{ profile.weight }}</div>
                    </div>
                    {% if member %}
                    <div class="profile__item">
                        <div class="profile__type">Команда:</div>
                        <div class="profile__value"><a href="{{ url('team.index', {id: member.seasonTeam.team.id }) }}">{{ member.seasonTeam.team.metadata.title }}</a></div>
                    </div>
                    <div class="profile__item">
                        <div class="profile__type">Номер:</div>
                        <div class="profile__value">#{{ member.number }}</div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
        <div class="profile__table">
            {% if profile.position == 'goalkeeper' %}
                <div class="profile__table-header">Статистика вратаря</div>
                <table class="table">
                    <tr>
                        <th>№</th>
                        <th>Сезон</th>
                        <th>Команда</th>
                        <th title="Количество проведенных игр">И</th>
                        <th title="Сухие игры">И"0"</th>
                        <th title="Пропущенно шайб">ПШ</th>
                        <th title="Время на площадке">ВП</th>
                        <th title="Коэффициент надежности = 60мин*ПШ/ВП">КН</th>
                    </tr>
                    {% for num, seasonteammember in members %}
                        <tr>
                            <td>{{ num + 1 }}</td>
                            <td>{{ seasonteammember.seasonTeam.season.year - 1 }} - {{ seasonteammember.seasonTeam.season.year }}</td>
                            <td>{{ seasonteammember.seasonTeam.team.metadata.title }}</td>
                            <td>{{ seasonteammember|memberStatistic.gamesCountAsGoalkeeper }}</td>
                            <td>{{ seasonteammember|memberStatistic.zeroGameCount }}</td>
                            <td>{{ seasonteammember|memberStatistic.goalsFailed }}</td>
                            <td>{{ seasonteammember|memberStatistic.totalMinutesTime|number_format(0, '.', ',') }}</td>
                            <td>{{ seasonteammember|memberStatistic.reliabilityCoef|number_format(1, '.', ',') }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
            <div class="profile__table-header">Статистика игрока</div>
            <table class="table">
                <tr>
                    <th>№</th>
                    <th>Сезон</th>
                    <th>Команда</th>
                    <th title="Количество проведенных игр">И</th>
                    <th title="Забитые голы">Ш</th>
                    <th title="Передачи">А</th>
                    <th title="Очки">О</th>
                    <th title="Штрафное время">Штр</th>
                </tr>
                {% for num, seasonteammember in members %}
                <tr>
                    <td>{{ num + 1 }}</td>
                    <td>{{ seasonteammember.seasonTeam.season.year - 1 }} - {{ seasonteammember.seasonTeam.season.year }}</td>
                    <td>{{ seasonteammember.seasonTeam.team.metadata.title }}</td>
                    <td>{{ seasonteammember|memberStatistic.gamesCount }}</td>
                    <td>{{ seasonteammember|memberStatistic.goals }}</td>
                    <td>{{ seasonteammember|memberStatistic.assistantGoals }}</td>
                    <td>{{ seasonteammember|memberStatistic.score }}</td>
                    <td>{{ seasonteammember|memberStatistic.penaltyTime }}</td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </div>
    </section>
{% endblock %}