{% extends 'layouts/default.twig' %}

{% block content %}
    <section class="profile wrapper page">
        <div class="profile__info">
            {% if profile %}
            <div class="profile__img-wrapper">
                <img src="{{ asset('avatar/' ~ profile.image) }}" alt="" class="profile__img">
            </div>
            <div class="profile__content">
                <div class="profile__name">
                    {{ profile.fullName }}
                    <div class="profile__buttons">
                        {% if currentPlayerId == profile.id %}
                            <a href="{{ path('profile.player.edit') }}" class="profile__settings">Редактировать</a>
                            <a href="{{ path('fos_user_security_logout') }}" class="profile__logout">Выход</a>
                        {% endif %}
                    </div>
                </div>
                <div class="profile__list">
                    <div class="profile__item">
                        <div class="profile__type">Дата рождения:</div>
                        <div class="profile__value">{{ profile.birthdate ? profile.birthdate|date('d.m.Y') : '' }}</div>
                    </div>
                    <div class="profile__item">
                        <div class="profile__type">Позиция:</div>
                        <div class="profile__value">{{ profile.position|position }}</div>
                    </div>
                    <div class="profile__item">
                        <div class="profile__type">Хват:</div>
                        <div class="profile__value">{{ profile.stick|stick }}</div>
                    </div>
                    <div class="profile__item">
                        <div class="profile__type">Рост (см.):</div>
                        <div class="profile__value">{{ profile.height }}</div>
                    </div>
                    <div class="profile__item">
                        <div class="profile__type">Вес (кг.):</div>
                        <div class="profile__value">{{ profile.weight }}</div>
                    </div>
                    {% if member %}
                    <div class="profile__item">
                        <div class="profile__type">Команда:</div>
                        <div class="profile__value"><a href="{{ url('team.index', {id: member.seasonTeam.team.id }) }}">{{ member.seasonTeam.team.metadata.title }}</a></div>
                    </div>
                    <div class="profile__item">
                        <div class="profile__type">Номер:</div>
                        <div class="profile__value">#{{ member.number }}</div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
        <div class="profile__table">
            <div class="profile__table-header">Статистика игрока</div>
            <table class="table">
                <tr>
                    <th>№</th>
                    <th>Сезон</th>
                    <th>Команда</th>
                    <th>Шайб</th>
                    <th>Передач</th>
                    <th>Очков</th>
                    <th>Штраф</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>17/18</td>
                    <td>Молния</td>
                    <td>10</td>
                    <td>5</td>
                    <td>15</td>
                    <td>240</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>17/18</td>
                    <td>Молния</td>
                    <td>10</td>
                    <td>5</td>
                    <td>15</td>
                    <td>240</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>17/18</td>
                    <td>Молния</td>
                    <td>10</td>
                    <td>5</td>
                    <td>15</td>
                    <td>240</td>
                </tr>
            </table>
        </div>
    </section>
{% endblock %}