{% extends 'layouts/default.twig' %}

{% block content %}
    <section class="stat page wrapper">
        <h1>Статистика: Лидеры</h1>
        <form action="" method="get" class="stat__form">
            <div class="stat__item">
                <label for="conference" class="label">Лига</label>
                <select id="conference" class="select" onchange="this.form.submit()" name="league_id">
                    {% for  league in leagues %}
                        <option value="{{ league.id }}" {{ league.id == leagueId ? 'selected' : ''  }}>{{ league.metadata.title }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="stat__item">
                <label for="nomination" class="label">Номинации</label>
                <select id="nomination" class="select" onchange="this.form.submit()" name="top">
                    {% for value, name in tops %}
                    <option value="{{ value }}" {{ value == top ? 'selected' : ''  }}>{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
        <div class="table-wrapper">
            <div class="table-wrapper__header">{{ tops[top] }}</div>
            <table class="table">
                <tr>
                    <th></th>
                    <th>Игровой №</th>
                    <th>Игрок</th>
                    <th>Команда</th>
                    {% if top != 'goalkeeper' %}
                    <th width="40" title="Количество проведенных игр">И</th>
                    <th width="40" title="Забитые голы">Г</th>
                    <th width="40" title="Передачи">А</th>
                    <th width="40" title="Очки">О</th>
                    <th width="40" title="Штрафное время">Штр</th>
                    {% else %}
                        <th width="50" title="Количество проведенных игр">И</th>
                        <th width="50" title="Сухие игры">И"0"</th>
                        <th width="50" title="Пропущенно шайб">ПШ</th>
                        <th width="50" title="Время на площадке">ВП</th>
                        <th width="50" title="Коэффициент надежности = 60мин*ПШ/ВП">КН</th>
                        <th width="50" title="Процент отраженных бросков">%ОБ</th>
                    {% endif %}
                </tr>
                {% for num, memberStat in list %}
                <tr>
                    <td>{{ num + 1 }}</td>
                    <td>{{ memberStat.member.number }}</td>
                    <td>{{ memberStat.member.player.metadata.fullName }}</td>
                    <td>{{ memberStat.member.seasonTeam.team.metadata.title }}</td>
                    {% if top != 'goalkeeper' %}
                    <td>{{ memberStat.member|memberStatistic.gamesCount }}</td>
                    <td>{{ memberStat.member|memberStatistic.goals }}</td>
                    <td>{{ memberStat.member|memberStatistic.assistantGoals }}</td>
                    <td>{{ memberStat.member|memberStatistic.score }}</td>
                    <td>{{ memberStat.member|memberStatistic.penaltyTime }}</td>
                    {% else %}
                        <td>{{ memberStat.member|memberStatistic.gamesCountAsGoalkeeper }}</td>
                        <td>{{ memberStat.member|memberStatistic.zeroGameCount }}</td>
                        <td>{{ memberStat.member|memberStatistic.goalsFailed }}</td>
                        <td>{{ memberStat.member|memberStatistic.totalMinutesTime|number_format(0, '.', ',') }}</td>
                        <td>{{ memberStat.member|memberStatistic.reliabilityCoef|number_format(1, '.', ',') }}</td>
                        <td>{{ memberStat.member|memberStatistic.reflectedBulletsPercent|number_format(1, '.', ',') }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
        {% if top == 'goalkeeper' %}
            <p>В статистике учитываются вратари сыгравшие не менее 8 игр</p>
        {% endif %}
    </section>
{% endblock %}