{% extends 'layouts/default.twig' %}

{% block content %}
    <section class="page wrapper">
        <h1>
            Чемпионат ПЛХЛ. Сезон {{ season.beggingYear  }}-{{ season.year }}<br>
            Турнирная таблица.
        </h1>
        {% for item in getSeasonStatistic(season) %}
            <div class="table-wrapper">
                <div class="table-wrapper__header">{{ item.league.metadata.title }}</div>
                <table class="table">
                    <tr>
                        <th>№</th>
                        <th>Команда</th>
                        <th>И</th>
                        <th>В</th>
                        <th>ВБ</th>
                        <th>ПБ</th>
                        <th>П</th>
                        <th>ЗШ</th>
                        <th>ПШ</th>
                        <th>Очки</th>
                    </tr>
                    {% for num,stat in item.seasonteams %}
                        <tr>
                            <td  class="{{ num < item.league.metadata.playOffPlaces ? 'table-playoff' : '' }}">{{ num + 1 }}</td>
                            <td class="team-stats"><img width="30" height="30" class="sidebar-table__img" src="/avatar/{{ stat.seasonteam.team.metadata.image }}"> <a class="sidebar-table__team-link" href="{{ path('team.index', {id: stat.seasonteam.team.id}) }}">{{ stat.seasonteam.team.metadata.title }}</a></td>
                            <td>{{ stat.gamesCount }}</td>
                            <td>{{ stat.winInMain }}</td>
                            <td>{{ stat.winInBullets }}</td>
                            <td>{{ stat.loseInBullets }}</td>
                            <td>{{ stat.loseInMain }}</td>
                            <td>{{ stat.goals }}</td>
                            <td>{{ stat.goalsFailed }}</td>
                            <td>{{ stat.scores }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endfor %}
    </section>
{% endblock %}