{% extends 'layouts/default.twig' %}

{% block content %}
    <section class="team page wrapper">
        <h1 class="title">Команда "{{ team.metadata.title }}"</h1>
        <div class="team__about">
            <div class="team__img-wrapper">
                <img src="{{ asset('/avatar/' ~ team.metadata.image) }}" alt="" class="team__img">
            </div>
            <div class="team__content">
                <div class="team__item">
                    <div class="team__content-title">Дата основания:</div>
                    <div class="team__content-value">{{ team.metadata.foundationDate }}</div>
                </div>
                <div class="team__item">
                    <div class="team__content-title">Тренер:</div>
                    <div class="team__content-value"><a href="{{ url('profile.index', {id: seasonteam.coach.id}) }}">{{ seasonteam.coach.metadata.fullName }}</a></div>
                </div>
                <div class="team__item">
                    {% for member in members %}
                        {% if member.type == 'captain' %}
                            <div class="team__content-title">Капитан:</div>
                            <div class="team__content-value"><a href="{{ url('profile.index', {id: member.player.id}) }}">{{ member.player.metadata.fullName }}</a></div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="team__item">
                    <div class="team__content-title">Ассистенты:</div>
                    <div class="team__content-value">
                        {% for member in members %}
                            {% if member.type == 'assistant' %}
                                <a href="{{ url('profile.index', {id: member.player.id}) }}">{{ member.player.metadata.fullName }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="team__crew">
            <div class="table-wrapper">
                <div class="table-wrapper__header">Состав команды</div>
                <table class="table">
                    <tr>
                        <th>№</th>
                        <th>Игрок</th>
                        <th>Амплуа</th>
                        <th>Дата рожднения</th>
                        <th>Рост</th>
                        <th>Вес</th>
                    </tr>
                    {% for member in members %}
                        <tr>
                            <td>{{ member.number }}</td>
                            <td>{{ member.player.metadata.fullName }}</td>
                            <td>{{ member.player.metadata.position|position }}</td>
                            <td>{{ member.player.metadata.birthdate|date('d.m.Y') }}</td>
                            <td>{{ member.player.metadata.height }}</td>
                            <td>{{ member.player.metadata.weight }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </section>
{% endblock %}