{% extends '@Control/layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <a href="{{ url('control.blog.new') }}" class="btn btn-primary">Добавить новость</a>
            <h1>Новости</h1>
            <table class="table">
                <thead>
                <tr>
                    <th>id</th>
                    <th>Дата</th>
                    <th>Заголовок</th>
                    <th>Короткое описание</th>
                    <th>ссылка на картинку</th>
                    <th width="100px">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for post in posts %}
                    <tr>
                        <td>{{ post.id }}</td>
                        <td>{% if post.postedAt %}{{ post.postedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{{ post.title }}</td>
                        <td>{{ post.description | raw }}</td>
                        <td>{{ post.shortDescription }}</td>
                        <td>{{ post.imageUrl }}</td>
                        <td>
                            <a href="{{ path('control.blog.show', { 'id': post.id }) }}" class="btn btn-xs btn-info"><i aria-hidden="true" class="fa fa-eye"></i></a>
                            <a href="{{ path('control.blog.edit', { 'id': post.id }) }}" class="btn btn-xs btn-info"><i aria-hidden="true" class="fa fa-edit"></i></a>
                            <a href="{{ path('control.blog.delete', { 'id': post.id }) }}" class="btn btn-xs btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
