{% extends '@Control/layout.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block css %}
    {{ parent() }}
    <link href="{{ asset('bower_components/summernote/dist/summernote.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-5 col-md-offset-2">
            {{ form_start(form) }}
            {{ form_row(form.postedAt) }}
            {{ form_row(form.title) }}
            <div id="yo">
                {{ form_row(form.description) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script src="{{ asset('bower_components/summernote/dist/summernote.js') }}"></script>
    <script>
		$(document).ready(function() {
			$('#blogbundle_post_description').summernote();
		});
    </script>
{% endblock %}