<div class="panel" v-bind:class="[season.id == currentSeasonId ? 'panel-primary' : 'panel-info']">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-6">
                <h3 class="panel-title season-title">{{ season.year - 1 }}/{{ season.year }}</h3>
            </div>
            <div class="col-xs-6 text-right">
                <button v-if="season.id != currentSeasonId" v-on:click="markCurrent" class="btn btn-xs btn-default" title="Сделать текущим сезоном"><i class="fa fa-check" aria-hidden="true"></i></button>
                <button v-on:click="showCopySeasonPopup(season)" class="btn btn-xs btn-default" title="Копировать"><i class="fa fa-files-o" aria-hidden="true"></i></button>
                <button v-on:click="removeSeason" class="btn btn-xs btn-danger" title="Удалить"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Команда</th>
            <th>Тренер</th>
            <th>Лига</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="seasonteam in seasonteams">
            <td>{{ seasonteam.team.metadata.title }}</td>
            <td>{{ seasonteam.coach.metadata.full_name }}</td>
            <td>{{ seasonteam.league.metadata.title }}</td>
            <td class="text-right">
                <button v-on:click="showTeamSeasonPopup($event, seasonteam)" class="btn btn-xs btn-info" title="Редактировать"><i class="fa fa-edit" aria-hidden="true"></i></button>
                <button v-on:click="remove(seasonteam)"  :disabled="deleteInProgress" class="btn btn-xs btn-danger" title="Удалить"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
            </td>
        </tr>
        <tr>
            <td colspan="4"><button v-on:click="showTeamSeasonPopup" class="btn btn-xs btn-primary">Добавить команду в сезон</button></td>
        </tr>
        </tbody>
    </table>
</div>