<template>
    {% block vue_template %}
        {% verbatim %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-9">
                <h3 class="panel-title">Плейофф {{ playoff.league.metadata.title}} {{ playoff.season.year - 1 }}/{{ playoff.season.year }}</h3>
            </div>
            <div class="col-xs-3 text-right">
            <button v-on:click="editPlayoff" class="btn btn-xs btn-default" title="Изменить"><i class="fa fa-edit" aria-hidden="true"></i></button>
               <button v-on:click="removePlayoff" class="btn btn-xs btn-danger" title="Удалить"><i class="fa fa-trash-o" aria-hidden="true"></i></button>

            </div>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Этап</th>
            <th>Команда</th>
            <th>И1</th>
            <th>И2</th>
            <th>И3</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="item in items">
            <td style="vertical-align: middle;" class="text-center">
                <span class="label label-info">{{itemRank(item)}}</span>
            </td>
            <td>
                <button v-on:click="showPlayOffItemPopup(item)" v-bind:class="[item.seasonteamA ? 'btn-default' : 'btn-link']" class="btn btn-sm btn-block">
                <small v-if="item.seasonteamA && item.winner && item.seasonteamA.id == item.winner.id"><i class="fa fa-star" aria-hidden="true"></i></small>
                {{ item.seasonteamA ? item.seasonteamA.team.metadata.title : 'Выбрать'}}
                </button>
                <button v-on:click="showPlayOffItemPopup(item)" v-bind:class="[item.seasonteamB ? 'btn-default' : 'btn-link']"  class="btn btn-sm btn-block">
                <small v-if="item.seasonteamB && item.winner && item.seasonteamB.id == item.winner.id"><i class="fa fa-star" aria-hidden="true"></i></small>
                {{ item.seasonteamB ? item.seasonteamB.team.metadata.title : 'Выбрать'}}
                </button>
            </td>
            <td v-for="i in [0,1,2]" style="vertical-align: middle;">
                <div  v-if="getGameByNum(item, i) == null">
                 <button class="btn btn-link btn-block btn-xs" v-on:click="showAddGamePopup(item)">
                     {{ getGameByNum(item, i) != null  ? '' : 'Создать'}}
                </button>
                </div>
                 <div v-else="" class="text-center">
                    <small v-if="getGameByNum(item, i).state == 1"><i v-bind:class="[getGameByNum(item, i).winner.id == getGameByNum(item, i).seasonteamA.id ? 'fa-circle': 'fa-circle-o']" class="fa" aria-hidden="true"></i></small>
                    <small v-else=""><i class="fa fa-minus" aria-hidden="true"></i></small>
                    <button class="btn btn-sm btn-default btn-block"  v-on:click="showEditGamePopup(item, i)">
                    {{ getGameByNum(item, i).datetime }}
                    </button>
                    <small v-if="getGameByNum(item, i).state == 1"><i v-bind:class="[getGameByNum(item, i).winner.id == getGameByNum(item, i).seasonteamB.id ? 'fa-circle': 'fa-circle-o']" class="fa" aria-hidden="true"></i></small>
                    <small v-else=""><i class="fa fa-minus" aria-hidden="true"></i></small>
                </div>
            </td>
            <td style="vertical-align: middle;">
                <button class="btn btn-xs btn-danger" v-on:click="removePlayoffItem(item)"><i aria-hidden="true" class="fa fa-trash-o"></i></button>
            </td>
        </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="6"><button v-on:click="showPlayOffItemPopup()" class="btn btn-xs btn-primary">Добавить группу</button></td>
        </tr>
        </tfoot>
    </table>
</div>
{% endverbatim %}
    {% endblock %}
</template>

<script>
    var gamesCache = {};
	Vue.component('playoff', {
		template: '{{ block('vue_template')|escape('js') }}',
		props: ['playoff',  'items', 'games'],
		data: function () {
			return {
				deleteInProgress: false
			}
		},
		methods: {
			editPlayoff: function () {
				this.$emit('bus', {
					name: 'show-playoff-popup', value: {
						playoff: this.playoff
					}
				});
			},
			showEditGamePopup: function (item, num) {
				var game = this.getGameByNum(item, num);
				this.$emit('bus', {
					name: 'show-game-popup', value: {
						game: game
					}
				});
			},
			showAddGamePopup: function (item) {
				this.$emit('bus', {
					name: 'show-game-popup', value: {
						game: {
							id: null,
							membersA: {},
							membersB: {},
							datetime: undefined,
                            type: 'playoff',
							season: this.playoff.season,
							seasonteamA: item.seasonteamA,
							seasonteamB: item.seasonteamB,
							playoff_item: item
						}
					}
				});
			},
			getGameByNum: function(item, num) {
				var key = item.id + '_' + num;
				if (gamesCache[key]) {
					return gamesCache[key];
                }
			    var games = this.getGames(item);
				gamesCache[key] = games[num] ? games[num] : null;
			    return gamesCache[key];
            },
			getGames: function (item) {
				const self = this;
                return self.games.filter(function (t) {
                	return t.hasOwnProperty('playoff_item') && t.playoff_item.id == item.id;
                })
            },
			itemRank: function (item) {
				switch (item.rank) {
                    case 1:
                    	return 'Финал';
                    case 2:
                    	return 'Полуфинал';
                    default:
                        return '1/' + item.rank;
                }
            },
			showPlayOffItemPopup: function (item) {
				if (!item) {
					item = {
						playoff: this.playoff
                    };
				}
				item = Object.assign({}, item);

				this.$emit('bus', {name: 'show-playoff-item-popup', value: {item: item}});
			},
			removePlayoffItem: function (item) {
				var _this = this;
				_this.deleteInProgress = true;
				$.ajax({
					url: '/control/playoff/item/delete/' + item.id,
					type: 'get',
					success: function (response) {
						_this.$emit('bus', {name: 'playoff-item-deleted', value: item});
					},
					error: function (jqXHR) {
					},
					complete: function () {
						_this.deleteInProgress = false;
					}
				});
			},
			removePlayoff: function () {
				var _this = this;
				_this.deleteInProgress = true;
				$.ajax({
					url: '/control/playoff/delete/' + _this.playoff.id,
					type: 'get',
					success: function (response) {
						_this.$emit('bus', {name: 'playoff-deleted', value: _this.playoff});
					},
					error: function (jqXHR) {
					},
					complete: function () {
						_this.deleteInProgress = false;
					}
				});
			},
		}
	});
</script>