<template>
    {% block vue_template %}
        {% verbatim %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-9">
                <h3 class="panel-title">Плейофф {{ playoff.league.metadata.title}} {{ playoff.season.year - 1 }}/{{ playoff.season.year }}</h3>
            </div>
            <div class="col-xs-3 text-right">
               <button v-on:click="removePlayoff" class="btn btn-xs btn-danger" title="Удалить"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Этап</th>
            <th>Команда</th>
            <th>И1</th>
            <th>И2</th>
            <th>И3</th>
            <th>СС</th>
        </tr>
        </thead>
        <tbody v-for="item in items">
        <tr>
            <td rowspan="2">{{itemRank(item)}}</td>
            <td><button v-on:click="showPlayOffItemPopup(item)" class="btn btn-default">{{ item.seasonteamA ? item.seasonteamA.team.metadata.title : 'Выбрать'}}</button></td>
            <td rowspan="2"><button class="btn btn-default" v-on:click="showAddGamePopup(item)">
            {{ getGameByNum(item, 0) != null  ? '' : 'Выбрать'}}
            </button></td>
            <td rowspan="2"><button class="btn btn-default" v-on:click="showAddGamePopup(item)">Игра</button></td>
            <td rowspan="2"><button class="btn btn-default" v-on:click="showAddGamePopup(item)">Игра</button></td>
        </tr>
        <tr>
            <td><button v-on:click="showPlayOffItemPopup(item)"  class="btn btn-default">{{ item.seasonteamB ? item.seasonteamB.team.metadata.title : 'Выбрать'}}</button></td>
        </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4"><button v-on:click="showPlayOffItemPopup" class="btn btn-xs btn-primary">Добавить группу</button></td>
        </tr>
        </tfoot>
    </table>
</div>
{% endverbatim %}
    {% endblock %}
</template>

<script>
	Vue.component('playoff', {
		template: '{{ block('vue_template')|escape('js') }}',
		props: ['playoff',  'items', 'games'],
		data: function () {
			return {
				deleteInProgress: false
			}
		},
		methods: {
			showAddGamePopup: function (item) {
				this.$emit('bus', {
					name: 'show-game-popup', value: {
						game: {
							id: null,
							membersA: {},
							membersB: {},
							datetime: undefined,
                            type: 'playoff',
							season: this.playoff.season,
							seasonteamA: item.seasonteamA,
							seasonteamB: item.seasonteamB,
							playoff_item: item.id
						}
					}
				});
			},
			getGameByNum: function(item, num) {
			    var games = this.getGames(item);
			    return games[num] ? games[num] : null;
            },
			getGames: function (item) {
				const self = this;
                return self.games.filter(function (t) {
                	return t.hasOwnProperty('playoff_item') && t.playoff_item.id == item.id;
                })
            },
			itemRank: function (item) {
				switch (item.rank) {
                    case 1:
                    	return 'Финал';
                    case 2:
                    	return 'Полуфинал';
                    default:
                        return '1/' + item.rank;
                }
            },
			showPlayOffItemPopup: function (event, item) {
				if (!item) {
					item = {
						playoff: this.playoff
                    };
				}
				this.$emit('bus', {name: 'show-playoff-item-popup', value: {item: item}});
			},
			removePlayoff: function () {
				var _this = this;
				_this.deleteInProgress = true;
				$.ajax({
					url: '/control/playoff/delete/' + _this.playoff.id,
					type: 'get',
					success: function (response) {
						_this.$emit('bus', {name: 'playoff-deleted', value: _this.playoff});
					},
					error: function (jqXHR) {
					},
					complete: function () {
						_this.deleteInProgress = false;
					}
				});
			},
		}
	});
</script>